*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aqua;
    transition: background-color 0.5s, color 0.5s;
}

header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
}


a{
    text-decoration: none;
    padding: 0px 30px;
    color: black;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body.dark{
    background-color: black;
    color: white;
}

.dark a{
    color: white;
}

.content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 78rem;
    margin: 0px auto;
    background: white;
    color: black;
    align-items: center;
    padding: 0px 0px 0px 1rem;
}

img{
    max-width: 100%;
}

.dark .content {
    background-color: rgb(108, 107, 107);
    color: white;
}

.dark .content img {
    filter: brightness(75%);
}

.gmail{
    text-decoration: underline;
}
